.NavigationItems{
    display: inline-block;
    padding: 8px;
    vertical-align: middle;
   
    width: calc(100% - 550px);
    text-align: center;
   
    display:inline-block;
    background-color: #E44D3A;
position: relative;
left: 12%;
}

.HeaderContiner{
background-color: #E44D3A;
}
.search{
    vertical-align: middle;
    margin: auto;
    display: inline-block;
}
.Profile{
    vertical-align: middle;
    margin: auto;
    display: inline-block;
}

.DrawerToggle{
    display: none;
}

@media only screen and (max-width: 1030px) {
    .NavigationItems{
        display: none;
    }
    .search{
        display: none;
    }

    .DrawerToggle {
        width: 40px;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0;
        box-sizing: border-box;
        cursor: pointer;
    }
    
    .DrawerToggle div {
        width: 90%;
        height: 3px;
        background-color: white;
        margin: 3px;
    }
    





}