.card{
    background-color: #fff;
    border: 1px solid #e5e5e5;
    width: 25%;
margin-bottom: 16px;
display:inline-block;
}
.header{
    background-color: #e44d3a;
    width: 100%;
    height: 100px;
}
.image{
    width: 110px;
    height: 110px;
    margin: 0 auto;
    margin-bottom: -48px;
    vertical-align: middle;

}
.img{
  
    border-radius: 50%;
    border: 6px solid white;
   float: none;
   width: 100%;
   position: relative;
   bottom: 60px;

}

.info{
    margin: 16px 0;
    text-align: center;
  
}
.info p{
    color: #686868;
    font-size: 14px;
}
.info h1{
    color: #000000;
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 8px;
}

.Follow{
    margin: 16px 0;
    text-align: center;
    border-top:1px solid #e5e5e5 ;
    
}


.Follow h1{
    color: #686868;
    font-size: 20px;
}

.viewProfile{
    border-top: 1px solid #e5e5e5;
    text-align: center;
    padding: 15px 0;
}
.viewProfile a{
    text-decoration: none;
    color: #e44d3a;
    font-size: 14px;
    font-weight: 600;
    
}

.button{
    background-color: #e44d3a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
    margin-top: 16px;
    width: 121px;
    margin-left: 30%;
}

@media only screen and (max-width: 1030px) {
   
    .card{
        display: block;
        width: auto;
        
    }
  
  }