.SideDrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

@media (min-width: 1030px) {
    .SideDrawer {
        display: none;
    }
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

.Logo{
    color: #E44D3A;
    text-align: center;
}

@media only screen and (max-width: 1030px) {
   
    .NavigationItem{
        display: block;
        padding: 10px;
        font-weight: 300;
        font-size: 22px;
    
    
        text-decoration: none;
        color: #E44D3A;
        list-style: none;
        
    }
    

  }