 input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #E44D3A;
    border-radius: 2px;
    float: left;
    width: 200px;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
   button {
    float: left;
    width: 50px;
    padding: 10px;
    background: #dd3e2b;
    color: white;
    font-size: 17px;
    border: 1px solid #E44D3A;
    border-radius: 2px;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
   button:hover {
    background: #9e2d20;
  }
  
 
  input[type="text"] {
    width: 50%;
    height: 32px;
    padding: 0 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    display: block;
  }
  
  ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 18px 0 0;
    clear: both;
  }
  
  li {
    cursor: pointer;
    font-size: 16px;
    padding: 8px 16px;
    color: #666;
    border-radius: 4px;
    transition: background-color 0.3s;
    display: block;
    margin-top: 50px;
    clear: both;
  }
  
  li:hover {
    background-color: #eee;
  }
  
  li.selected {
    background-color: #ccc;
    color: #fff;
  }
 