 input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #E44D3A;
    border-radius: 2px;
    float: left;
    width: 200px;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
   button {
    float: left;
    width: 50px;
    padding: 10px;
    background: #dd3e2b;
    color: white;
    font-size: 17px;
    border: 1px solid #E44D3A;
    border-radius: 2px;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
   button:hover {
    background: #9e2d20;
  }
  
  /* Clear floats */
 ::after {
    content: "";
    clear: both;
    display: table;
  }