.jobs{
    border: 1px solid #e5e5e5;
   
    width:50% ;
    
    display: inline-block;
    position: relative;
    /* left: 271px; */
    bottom: 557px;
    margin: 10px 325px 0px;
}
.Loader{    
    width:50% ;
    
    display: inline-block;
    position: relative;
    left: 271px; 
    bottom: 557px;
    margin: 10px 325px 0px;

}

@media only screen and (max-width: 1030px) {
   
    .jobs{
        border: 1px solid #e5e5e5;
   
        width:100% ;
        
        display: block;
        bottom: 0px;
    margin: 0px;
        

    }
  
  }