.NavigationItem{
    display: inline-block;
    padding: 0 8px;

}
.NavigationItem a{
    text-decoration: none;
    color: white;
    list-style: none;
    
}

@media only screen and (max-width: 1030px) {
   
    .NavigationItem{
        display: block;
        padding: 10px;
        font-weight: 300;
        font-size: 22px;
    
    }
    .NavigationItem a{
        text-decoration: none;
        color: #E44D3A;
        list-style: none;
        
    }
    

  }